@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Soleii';
        src: url('/fonts/SoleilRegular.woff2') format('woff2');
        font-style: normal;
        font-weight: 300;
    }
}